.aboutme-description{
    margin: 0 50px;
}
.aboutme-photo {
    margin: 0 auto;

}

.aboutme-photo img{
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 8px;

}

.aboutme .grid{
    grid-template-columns: 60% 40%;
}

.aboutme-description p{
    font-weight: 600;
    font-size: 1rem;
}