/* showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase-text{
    margin-top: 35px;
}

.showcase h1{
    font-size: 40px;
    font-weight: 600;
}
.showcase p{
    margin: 20px 0;
    font-size: 1.15rem;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    overflow: visible;
    gap: 30px;
}


.showcase-form{
    position: relative;
    height: 350px;
    top: 60px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form input[type='password']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    background-color: #fff;

}
